body {
  background-color: #be4d06;
  background-repeat: repeat;
  background-image: url(../svg/tile2.svg);
}

.heyhi {
  background-repeat: no-repeat;
  padding-left: 30em;
  /* background-image: url(../svg/heyhii.png) */
}