

.wrapper {
    display: grid;
    grid-gap:10px;
    grid-template-columns: 1fr 1fr 40px 20%;
    grid-template-rows: 50px 50px 50px;
    
  }

  .box {
    border-radius: 20%;  
  }

  .text-box-red {
    grid-column: col 3 / span 2 ;
    grid-row: row ;
    /* width: 70%; */
    padding: 5%;
    margin-top: 8%;
    color: wheat;
    background-color: #bf4d06;
    border: 20px solid #b73919;
    
  }
  .text-box-cream {
    grid-column: col ;
    grid-row: row 2 ;
    width: 500px;
    background-color: #e5e2a8;
    border: 5px solid black;
  }


 
 