body {
  margin: 40px;
}

.wrapper {
    display: grid;
    grid-gap: 100px;
    grid-template-areas: 
    "a a b"
    "a a b"
    "b c c"; 
    grid-template-rows: 50px 1fr 30px;
    grid-template-columns: 150px 1fr;
    
  }

  .box {
    border-radius: 5px;
    border-radius: 15%;
  }

  .a {
   margin: 0;
   padding: 0;
  
  }
  .b {
    grid-column: col 3 / span 2 ;
    grid-row: row ;
    width: 500px;
    background-color: #e5e2a8;
    border: 5px solid black;
    
  }
  .c {
    grid-column: col ;
    grid-row: row 2 ;
    width: 500px;
    background-color: #e5e2a8;
    border: 5px solid black;
  }

  .d {
    grid-column: col ;
    grid-row: row 2 ;
    align-self: center;
  }
 
 