.navbarcontainer {
 font-size: 2vw;
 
}

ul {
  list-style-type: none;
  margin: 10%;
  padding: 0px;
  border-radius: 20%;
  /* background-color: #a6b73a; */
  border: 20px solid #647201;
}

li a {
  display: grid;
  color: #e5e2a8;
  border-radius: 30%;
  padding: 18px;
  background-color: #a6b73a;
  text-decoration: none;
}

li {
  text-align: center;
  /* border-bottom: 10px solid #647201; */
}

li:last-child {
  border-bottom: none;
}

li a.active {
  color: #e5e2a8;
}

li a:hover:not(.active) {
  background-color: #647201;
  color: #a6b73a;
  border-radius: 30%;
}