.navbarcontainer {
 font-size: 2.5vw;
 padding: 100px 0px 30px 100px;
 
}

ul {
  list-style-type: none;
  margin: 20px;
  padding: 20px;
  width: 30%; 
  border-radius: 15%;
  background-color: #a6b73a;
  border: 20px solid #647201;
}

li a {
  display: grid;
  color: #e5e2a8;
  padding: 8px 8px 8px 8px;
  text-decoration: none;
}

li {
  text-align: left;
  border-bottom: 10px solid rgb(68, 22, 22);
}

li:last-child {
  border-bottom: none;
}

li a.active {
  background-color: #04AA6D;
  color: white;
}

li a:hover:not(.active) {
  background-color: #e5e2a8;
  color: white;
}