@font-face {
  font-family: 'gv-time';
  src: local('gv-time-font'), url(./fonts/gv-time-font/GvTimeRegular-BW768.ttf) format('truetype');
}
@font-face {
  font-family: 'bright';
  src: url(./fonts/bright-font/BrightDemo-axVxE.otf);
}

@font-face {
  font-family: 'bratsy';
  src: url(./fonts/bratsy-script-font/BratsyScriptDemoReguler-9YYB0.ttf);
}

body {
  margin: 0;
  font-family: 'bright';

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.image-holder {
  z-index: -1;
  margin-top: -200px;
}

