img {
  filter: grayscale(100%);
  height:"200vw";
}

h1 {
  
  font-size: 5.5vw; 
  font-family: 'Bright';
}

.portfolio-nav-cream {
  border-radius: 35%;
  padding: 2%;
  background-color: #b24d06;
  border: 20px solid #b73919;  
}

.portfolio-nav-text-box {
  border-radius: 15%;
  color: #e5e2a8;
  background-color: #647201;
  padding: 200px 0px 20px 25px;
  opacity: 100%;
}

   
.floating-slow {
  animation-name: floating;
  animation-duration: 25s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 0px;
  margin-top: 5px;
}

@keyframes floating-slow {
  0% { transform: translate(0, 0px); }
  50% { transform: translate(0, 10px); }
  100% { transform: translate(0, -0px); }
}

.floating-fast {
  animation-name: floating;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 0px;
  margin-top: 5px;
}

@keyframes floating-fast {
  0% { transform: translate(0, 0px); }
  50% { transform: translate(0, 12px); }
  100% { transform: translate(0, -0px); }
}
